@model IEnumerable<WebApp3.Models.ApplicationUser>
@{
    ViewBag.Title = "Информация о пользователе";
}
@foreach (var user in Model)
{
    <div class="container emp-profile">
    <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        @if (User.Identity.Name == user.Email)
                        {
                            <a data-toggle="modal"  id="dataImage" onclick="showInPopup('@Url.Action("ViewFanfic", "Home", null, Context.Request.Scheme)', 'Изменить аватарку')"><img src="~/images/@user.ImageUrl" class="rounded-circle" width="200" height="200" asp-append-version="true" /></a>
                        <div class="file btn btn-lg btn-primary"  data-toggle="modal" onclick="showInPopup('@Url.Action("ViewFanfic", "Home", null, Context.Request.Scheme)', 'Изменить аватарку')">
                            Обновить аватарку
                            <input type="button" />
                        </div>
                        }
                        @if (User.Identity.Name != user.Email)
                        {
                            <img src="~/images/@user.ImageUrl" id="dataImage" class="rounded-circle" width="200" height="200" asp-append-version="true" />
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                           @user.FirstName @user.LastName
                           @if (User.Identity.Name == user.Email)
                           {
                               <a  title="Изменить имя и фамилию"  data-toggle="modal" onclick="showInPopup('@Url.Action("ChangeNameProfile", "Home", null, Context.Request.Scheme)', 'Изменение информации о себе')">
                                      <i class="fa fa-pencil" aria-hidden="true" style="color: black"></i>
                               </a>
                           }
                        </h5>
                        <h6>
                            Пользователь
                        </h6>
                        @if (@user.IsActive)
                        {
                            <h6  style="color: yellowgreen">В сети</h6>
                        }  
                        @if (!@user.IsActive)
                        {
                            <h6 style="color: red">Не в сети</h6>
                        }
                        <p class="proile-rating">Рейтинг : <span>8/10</span></p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Информация</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">О себе</a>
                            </li>
                            @if (User.Identity.Name == user.Email)
                            {
                            <li class="nav-item">
                                <a class="nav-link" id="home-tab" data-toggle="tab" href="#settingspanel" role="tab" aria-controls="settingspanel" aria-selected="false">Настройки</a>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
                @*<div class="col-md-2">
                    <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
                </div>*@
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p>WORK LINK</p>
                        <a href="">Website Link</a><br />
                        <a href="">Bootsnipp Profile</a><br />
                        <a href="">Bootply Profile</a>
                        <p>SKILLS</p>
                        <a href="">Web Designer</a><br />
                        <a href="">Web Developer</a><br />
                        <a href="">WordPress</a><br />
                        <a href="">WooCommerce</a><br />
                        <a href="">PHP, .Net</a><br />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">

                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Имя</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@user.FirstName @user.LastName</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                @if (User.Identity.Name == user.Email)
                                {
                                    @if (user.EmailConfirmed)
                                    {

                                        <div class="col-md-6">
                                            <p>@user.Email <small style="color: green;">(подтверждена)</small></p>
                                        </div>

                                    }
                                    @if (!user.EmailConfirmed)
                                    {
                                        <div class="col-md-6">
                                            <p>@user.Email <small style="color: red;"><a onclick="callConfirmEmail()">(подтвердить почту)</a></small></p>
                                        </div>
                                    }      

                                }
                            @if (User.Identity.Name != user.Email)
                            {
                                <div class="col-md-6">
                                    <p>@user.Email</p>
                                </div>
                            }
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Количество фанфиков</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@user.Fanfics.Count</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Количество отзывов</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@user.Comments.Count</p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        
                                            @user.AboutMe

                                        @if (user.AboutMe == null && User.Identity.Name == user.Email)
                                        {
                                            <a title="Добавить информацию о себе" data-toggle="modal" onclick="showInPopup('@Url.Action("AddOrEditAboutMe", "Home", null, Context.Request.Scheme)', 'Добавление информации о себе')">
                                                Добавить информацию о себе
                                            </a>
                                        }
                                        @if (user.AboutMe != null && User.Identity.Name == user.Email)
                                        {
                                            <a title="Изменить информацию о себе" data-toggle="modal" onclick="showInPopup('@Url.Action("AddOrEditAboutMe", "Home", null, Context.Request.Scheme)', 'Изменение информации о себе')">
                                                <i class="fa fa-pencil" aria-hidden="true" style="color: black"></i>
                                            </a>
                                        }
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="settingspanel" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Пароль</label>
                                </div>
                                <div class="col-md-6">
                                    <a data-toggle="modal" onclick="showInPopup('@Url.Action("ChangePassword", "Home", null, Context.Request.Scheme)', 'Изменить пароль')">Изменить пароль</a>
                                </div>
                            </div>
                            <div class="row delete-account">
                                <div class="col-md-6">
                                    <label>Аккаунт</label>
                                </div>
                                <form asp-action="DeleteAccount" method="post">
                                    <div class="col-md-8">
                                        <button type="submit" class="btn btn-danger btn-sm">Удалить аккаунт</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
    </div>
}



@*<button class="btn" asp-controller="Home" asp-action="DeleteAccount"><i class="fa fa-trash"> Delete my account</i></button>
    <button class="btn" asp-controller="Home" asp-action="ChangePassword"><i class="fa fa-envelope"> Change my password</i></button>
    <button class="btn" asp-controller="Home" asp-action="BlockOrUnBlockAccount" asp-route-id="@user.Id"><i class="fa fa-lock"> Block account </i></button>*@
@*<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@
@*<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />*@
<style>
    body {
        /* background: -webkit-linear-gradient(left, #3931af, #00c6ff);*/
        background-color: #130c38;
    }
    div.delete-account{

    }
    .emp-profile {
        padding: 3%;
        margin-top: 3%;
        margin-bottom: 3%;
        border-radius: 0.5rem;
        background: #fff;
    }

    .profile-img {
        text-align: center;
    }



        .profile-img .file {
            position: relative;
            overflow: hidden;
            margin-top: -20%;
            width: 70%;
            border: none;
            border-radius: 0;
            font-size: 15px;
            background: #212529b8;
        }

            .profile-img .file input {
                position: absolute;
                opacity: 0;
                right: 0;
                top: 0;
            }

    .profile-head h5 {
        color: #333;
    }

    .profile-head h6 {
        color: #0062cc;
    }

    .profile-edit-btn {
        border: none;
        border-radius: 1.5rem;
        width: 70%;
        padding: 2%;
        font-weight: 600;
        color: #6c757d;
        cursor: pointer;
    }

    .proile-rating {
        font-size: 12px;
        color: #818182;
        margin-top: 5%;
    }

        .proile-rating span {
            color: #495057;
            font-size: 15px;
            font-weight: 600;
        }

    .profile-head .nav-tabs {
        margin-bottom: 5%;
    }

        .profile-head .nav-tabs .nav-link {
            font-weight: 600;
            border: none;
        }

            .profile-head .nav-tabs .nav-link.active {
                border: none;
                border-bottom: 2px solid #0062cc;
            }

    .profile-work {
        padding: 14%;
        margin-top: -15%;
    }

        .profile-work p {
            font-size: 12px;
            color: #818182;
            font-weight: 600;
            margin-top: 10%;
        }

        .profile-work a {
            text-decoration: none;
            color: #495057;
            font-weight: 600;
            font-size: 14px;
        }

        .profile-work ul {
            list-style: none;
        }

    .profile-tab label {
        font-weight: 600;
    }

    .profile-tab p {
        font-weight: 600;
        color: #0062cc;
    }
</style>